.craftContainer{
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
}

#craftTitle{
  padding-top: 70px;
  padding-left: 510px;
  padding-bottom: 60px;
}

#craftTitlemain{
padding-top: 70px;
  padding-left: 580px;
  padding-bottom: 30px;
}

.nameTag{
  font-family: 'Avenir', san-serif;
  font-weight: lighter;
  letter-spacing: 3px;
  font-size: 12pt;
  margin-top: 20px;
  margin-bottom: -10px;
}

svg{
  width: 2%;
  float: right;
  padding-top: 20px;
  padding-right: 50px;
}

h2{
  font-family: 'Baskerville', serif;
  font-weight: lighter;
  font-size: 24pt;
}

.craftContent{
  text-align:center;
}

.inputNameField{
    width: 500px;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
    resize: none;
    margin-top: 0px;
}

#head{
  font-family: 'Avenir', san-serif;
  font-weight: lighter;
  letter-spacing: 3px;
  font-size: 14pt;
  margin-top: 50px;
  margin-left: -630px;
  margin-bottom: -20px;
}


#subject{
  height:300px;
  width: 60%;
  font-size: 12px;
  padding-top: 3px;
  box-sizing: border-box;
  resize: none;
}

#textContainer{
  display: relative;
  width: 100%;
}

#textBelow1{
  font-family: 'Avenir', san-serif;
  font-size: 8pt;
  width: 40%;
  text-align: left;
  overflow: hidden;
  margin-left: 280px;
  margin-top: 3px;
}

em{
  font-weight: bold;
  font: normal;
}

#textBelow2{
  font-family: 'Avenir', san-serif;
  font-size: 10pt;
  margin-left: 75px;
  width: 50%;
  float: right;
  overflow: hidden;
  margin-top: -30px;
  margin-right: -55px;
}

#textBelow3{
  font-family: 'Avenir', san-serif;
  font-size: 8pt;
  width: 40%;
  text-align: left;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 20px;
}

#textBelow4{
  font-family: 'Avenir', san-serif;
  font-size: 10pt;
  margin-left: 75px;
  width: 50%;
  float: right;
  overflow: hidden;
  margin-top: -35px;
  margin-right: -220px;
}

#submit{
  font-family: 'Baskerville', serif;
  font-weight: lighter;
  font-size: 20px;
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  margin-top: 100px;
  font-size: 2.5em;
}

#submitpost{
  font-family: 'Baskerville', serif;
  font-weight: lighter;
  font-size: 20px;
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  margin-top: 250px;
  font-size: 2.5em;
  margin-left: 200px;
}

#formName{
  display: inline-block;
  margin-left: 450px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}


@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

#craftTitlemain{
  padding-top: 70px;
  padding-left: 130px;
  padding-bottom: 30px;
}

#head{
  font-family: 'Avenir', san-serif;
  font-weight: lighter;
  letter-spacing: 3px;
  font-size: 12pt;
  margin-top: 50px;
  margin-left: -90px;
  margin-bottom: -20px;
}

#textBelow1{
  font-family: 'Avenir', san-serif;
  font-size: 6pt;
  width: 40%;
  text-align: left;
  overflow: hidden;
  margin-left: 98px;
  margin-top: 3px;
}

#textBelow2{
  font-family: 'Avenir', san-serif;
  font-size: 8pt;
  margin-left: 75px;
  width: 50%;
  float: right;
  overflow: hidden;
  margin-top: -45px;
  margin-right: -10px;
}

}

.grid-container{
  margin: auto; 
  display: grid;
  grid-template-rows: 100vh;
}

.grid-item{
  display:flex;
  align-items : center;
  justify-content: center;
}

.mobileCraft{
  margin: auto;
}

#mobileCraftInput{
  height:30% ; 
  width: 100% ;
  font-size: 12px;
  padding-top: 3px;
  box-sizing: border-box;
  resize: none;
}

.mobileSubText1{
  font-family: 'Avenir', san-serif;
  font-size: 6pt;
}

.mobileSubText2{
  font-family: 'Avenir', san-serif;
  font-size: 8pt;
}

.mobileHead{
  font-family: 'Avenir', san-serif;
  font-weight: lighter;
  letter-spacing: 3px;
  font-size: 14pt;
}

.mobilePleaceHolder{
  font-family: 'Avenir', san-serif;
  font-weight: lighter;
  letter-spacing: 3px;
  font-size: 14pt;
}


.mobileNext{
  font-family: 'Baskerville', serif;
  font-weight: lighter;
  font-size: 20px;
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 2.5em;
  padding: 0px !important;
}

.mobileSaySomething{
  font-family: 'Baskerville', serif;
  font-weight: lighter;
  font-size: 24pt;
}

.mobileNameSubmit{
  font-family: 'Baskerville', serif;
  font-weight: lighter;
  font-size: 20px;
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  margin-top: 10px;
  font-size: 2.5em;
}

.mobileInputName{
  width: 100%;
  height: 40%;
  font-size: 16px;
  box-sizing: border-box;
  resize: none;
  margin-top: 0px;
}

.mobileNameTag1{
  font-family: 'Avenir', san-serif;
  font-size: 8pt;
}

.mobileNameCount1{
  font-family: 'Avenir', san-serif;
  font-size: 7pt;
}