/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



.mainContainer{
  /* display: flex; */
  background-color: #000F4D;
  width: 100%;
  height: 100vh;
}

.text{
  color: white;
  font-family: 'Avenir', san-serif;
}

.main{
  margin-left: 45px;
}

svg{
  width: 60%;
  margin-top: 40px;
  margin-left: 100px;
}

.header{
  margin-top: 25px;
}

.quote{
  font-family: Arial Black, san-serif;
  font-weight: 900;
  font-size: 50px;
  color: #FF2F71;
  padding-top: 50px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.lastPart{
  margin-left: 45px;
  position: absolute;
  width: 1300px;
  height: 300px;
  border: 3px solid #000F4D;
  top: 450px;
}

#row{
  padding-left: 50px;
}


#firstPart{
  margin-left: 20px;
}
#firstRow{
  margin-top: 30px;
}


#introduce{
  margin-left: 60px;
}

#message{
  margin-top: 80px;
  margin-left: 40px;
}
#lastSectionTitle{
  margin-top: 70px;
}

h4.text{
  font-size: 14px;
  padding-left: 300px;
  margin-top: -70px;
  padding-right: -200px;
  margin-right: -150px;
  font-weight: lighter;
  letter-spacing: 3px;
  line-height: 150%;

}

h5.button{
  color: white;
  font-family: 'Avenir', san-serif;
  font-size: 14px;
  margin-top: 10px;
  font-weight: lighter;
  letter-spacing: 3px;
}

#arrow{
  margin-top: -40px;
}

.text{
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 3px;
}

h5.text author{
  font-size: 14px;
  font-weight: lighter;
  margin-top: 50px;
  letter-spacing: 3px;
}

.line{
  width: 300px;
  height: 47px;
  border-bottom: 1px solid #8E24FF;
  position: absolute;
  margin-top: -40px;
}

h6.text{
  font-family: 'Avenir', san-serif;
  font-size: 14px;
  padding-bottom: -50px;
  font-weight: lighter;
  letter-spacing: 3px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .quote{
    font-size: 38px;
  }

  .line{
  width: 150px;
  
  }

  h6.text{
    font-size: 12px;
  }

  .lastPart{
  margin-left: 45px;
  position: absolute;
  width: 750px;
  height: 350px;
  border: 3px solid #000F4D;
  top: 450px;
}
 
}
